In [1]:
from ko_text import *

In [2]:
result_df = pd.read_csv('Doc2Vec_parameter_tuning_result.csv')

## Corpus 크기에 따른 성능 비교

In [3]:
result_df[result_df['corpus_count'] == 9999].sort_values('accuracy', ascending = False).head(10)

    accuracy  corpus_count  min_count  n_epochs  vector_size  window
12  0.662222          9999         30        10          300       5
8   0.659630          9999         30        10          100       5
2   0.657407          9999         10        10          100      10
1   0.657037          9999         10        30          100       5
9   0.657037          9999         30        30          100       5
0   0.657037          9999         10        10          100       5
4   0.655185          9999         10        10          300       5
16  0.654074          9999         50        10          100       5
21  0.653333          9999         50        30          300       5
13  0.651481          9999         30        30          300       5

In [4]:
result_df[result_df['corpus_count'] == 29997].sort_values('accuracy', ascending = False).head(10)

    accuracy  corpus_count  min_count  n_epochs  vector_size  window
24  0.684074         29997         10        10          100       5
28  0.683333         29997         10        10          300       5
36  0.681481         29997         30        10          300       5
30  0.678889         29997         10        10          300      10
44  0.675556         29997         50        10          300       5
29  0.675185         29997         10        30          300       5
32  0.674815         29997         30        10          100       5
26  0.671852         29997         10        10          100      10
38  0.670000         29997         30        10          300      10
40  0.668889         29997         50        10          100       5

In [5]:
result_df[result_df['corpus_count'] == 87899].sort_values('accuracy', ascending = False).head(10)

    accuracy  corpus_count  min_count  n_epochs  vector_size  window
58  0.693704         87899         30        10          100      10
64  0.692593         87899         50        10          100       5
66  0.689630         87899         50        10          100      10
56  0.688148         87899         30        10          100       5
57  0.687778         87899         30        30          100       5
48  0.686296         87899         10        10          100       5
68  0.686296         87899         50        10          300       5
67  0.685185         87899         50        30          100      10
60  0.684444         87899         30        10          300       5
70  0.684074         87899         50        10          300      10

## DM과 DBOW방식 비교

> DM 방식이 성능이 훨씬 우수한 것을 확인

In [6]:
dm_df = pd.read_csv('dm vs dbow.csv')

In [7]:
dm_df[dm_df['corpus_count'] == 72450].sort_values('accuracy', ascending = False).head(10)

,accuracy,corpus_count,dm,min_count,n_epochs,sample,vector_size,window
16,0.696667,72450,True,50,10,0.00001,100,5
6,0.693333,72450,True,50,10,0.00010,300,5
0,0.692222,72450,True,10,10,0.00010,100,5
11,0.690000,72450,True,100,10,0.00010,300,15
7,0.688519,72450,True,50,10,0.00010,300,15
4,0.687778,72450,True,50,10,0.00010,100,5
8,0.687407,72450,True,100,10,0.00010,100,5
18,0.687037,72450,True,50,10,0.00001,300,5
10,0.685185,72450,True,100,10,0.00010,300,5
3,0.683704,72450,True,10,10,0.00010,300,15

In [8]:
dm_df[dm_df['corpus_count'] == 82963].sort_values('accuracy', ascending = False).head(10)

,accuracy,corpus_count,dm,min_count,n_epochs,sample,vector_size,window
92,0.695556,82963,True,100,10,0.00001,100,5
76,0.689630,82963,True,50,10,0.00010,100,5
84,0.689630,82963,True,10,10,0.00001,100,5
94,0.689630,82963,True,100,10,0.00001,300,5
79,0.689259,82963,True,50,10,0.00010,300,15
78,0.687778,82963,True,50,10,0.00010,300,5
77,0.687037,82963,True,50,10,0.00010,100,15
88,0.684815,82963,True,50,10,0.00001,100,5
73,0.684444,82963,True,10,10,0.00010,100,15
82,0.684074,82963,True,100,10,0.00010,300,5

In [12]:
temp_df = dm_df[dm_df['dm'] == False]
temp_df[temp_df['corpus_count'] == 82963].sort_values('accuracy', ascending = False).head(10)

,accuracy,corpus_count,dm,min_count,n_epochs,sample,vector_size,window
137,0.655556,82963,False,50,10,0.000001,100,15
136,0.652963,82963,False,50,10,0.000001,100,5
140,0.652222,82963,False,100,10,0.000001,100,5
142,0.650370,82963,False,100,10,0.000001,300,5
141,0.650370,82963,False,100,10,0.000001,100,15
138,0.650000,82963,False,50,10,0.000001,300,5
143,0.649259,82963,False,100,10,0.000001,300,15
112,0.647037,82963,False,50,10,0.000100,100,5
139,0.646667,82963,False,50,10,0.000001,300,15
135,0.640741,82963,False,10,10,0.000001,300,15