In [1]:
from ko_text import *

In [2]:
result_df = pd.read_csv('Doc2Vec_parameter_tuning_result.csv')

In [3]:
result_df[result_df['corpus_count'] == 999].sort_values('accuracy', ascending = False).head(10)

    accuracy  corpus_count  min_count  n_epochs  vector_size  window
5   0.514074           999         10        50           30      10
17  0.511111           999         10        50          300      10
11  0.509630           999         10        50          100      10
8   0.508148           999         10        50          100       5
2   0.503333           999         10        50           30       5
14  0.502222           999         10        50          300       5
1   0.424815           999         10        30           30       5
4   0.422963           999         10        30           30      10
7   0.400000           999         10        30          100       5
10  0.387037           999         10        30          100      10

In [4]:
result_df[result_df['corpus_count'] == 9999].sort_values('accuracy', ascending = False).head(10)

    accuracy  corpus_count  min_count  n_epochs  vector_size  window
54  0.631111          9999         10        10           30       5
60  0.631111          9999         10        10          100       5
66  0.627407          9999         10        10          300       5
57  0.618889          9999         10        10           30      10
63  0.616296          9999         10        10          100      10
72  0.613704          9999         30        10           30       5
69  0.612593          9999         10        10          300      10
90  0.610370          9999         50        10           30       5
84  0.606667          9999         30        10          300       5
78  0.606296          9999         30        10          100       5

In [5]:
result_df[result_df['corpus_count'] == 29997].sort_values('accuracy', ascending = False).head(10)

     accuracy  corpus_count  min_count  n_epochs  vector_size  window
114  0.578148         29997         10        10          100       5
120  0.572222         29997         10        10          300       5
108  0.571481         29997         10        10           30       5
138  0.543704         29997         30        10          300       5
123  0.539630         29997         10        10          300      10
117  0.537037         29997         10        10          100      10
132  0.532593         29997         30        10          100       5
144  0.524444         29997         50        10           30       5
156  0.522593         29997         50        10          300       5
150  0.522593         29997         50        10          100       5

In [7]:
result_df[result_df['corpus_count'] == 90000].sort_values('accuracy', ascending = False).head(10)

     accuracy  corpus_count  min_count  n_epochs  vector_size  window
168  0.534815         90000         10        10          100       5
174  0.528519         90000         10        10          300       5
162  0.500000         90000         10        10           30       5
171  0.495556         90000         10        10          100      10
165  0.477778         90000         10        10           30      10
175  0.460000         90000         10        30          300       5
169  0.453333         90000         10        30          100       5
170  0.438148         90000         10        50          100       5
163  0.437037         90000         10        30           30       5
164  0.415556         90000         10        50           30       5