In [1]:
from ko_text import *

In [2]:
result_df = pd.read_csv('Doc2Vec_parameter_tuning_result.csv')

In [4]:
result_df[result_df['corpus_count'] == 9999].sort_values('accuracy', ascending = False).head(10)

    accuracy  corpus_count  min_count  n_epochs  vector_size  window
12  0.662222          9999         30        10          300       5
8   0.659630          9999         30        10          100       5
2   0.657407          9999         10        10          100      10
1   0.657037          9999         10        30          100       5
9   0.657037          9999         30        30          100       5
0   0.657037          9999         10        10          100       5
4   0.655185          9999         10        10          300       5
16  0.654074          9999         50        10          100       5
21  0.653333          9999         50        30          300       5
13  0.651481          9999         30        30          300       5

In [5]:
result_df[result_df['corpus_count'] == 29997].sort_values('accuracy', ascending = False).head(10)

    accuracy  corpus_count  min_count  n_epochs  vector_size  window
24  0.684074         29997         10        10          100       5
28  0.683333         29997         10        10          300       5
36  0.681481         29997         30        10          300       5
30  0.678889         29997         10        10          300      10
44  0.675556         29997         50        10          300       5
29  0.675185         29997         10        30          300       5
32  0.674815         29997         30        10          100       5
26  0.671852         29997         10        10          100      10
38  0.670000         29997         30        10          300      10
40  0.668889         29997         50        10          100       5

In [6]:
result_df[result_df['corpus_count'] == 87899].sort_values('accuracy', ascending = False).head(10)

    accuracy  corpus_count  min_count  n_epochs  vector_size  window
58  0.693704         87899         30        10          100      10
64  0.692593         87899         50        10          100       5
66  0.689630         87899         50        10          100      10
56  0.688148         87899         30        10          100       5
57  0.687778         87899         30        30          100       5
48  0.686296         87899         10        10          100       5
68  0.686296         87899         50        10          300       5
67  0.685185         87899         50        30          100      10
60  0.684444         87899         30        10          300       5
70  0.684074         87899         50        10          300      10